.image1{
    height: 200px;
    width:300px;
    transition-duration: 2s;
    animation-name: cbit;
    animation-duration: 6s;
    animation: iteration count:infinite;
}
@keyframes cbit {
20%{
    height: 100px;
    width: 200px;
    float: right;
}
40%{
    height: 200px;
    width: 300px;
    float:left;
}
}